*.pyc
*.swp
*.egg-info/
*.so
*.html
*build/
*.png
*.jpg
.coverage
.idea
*dist/
*bin/
sandbox/
*pdf
*.pickle
ediscovery_cache/
obj/
*~
*.vs/
*.npy
*.npz
*log
*.hypothesis/
benchmark/tar-toolkit/out/
dist/
doc_pdf/
trec-cluster/
newsgroup_data/
.ipynb_checkpoints/
.cache/
*.coverage*
doc/modules/
doc/*/examples/
doc/*/generated/
treclegal09*.tar.gz
*.gv
