*.pyc
*.swp
*.egg-info/
*.so
*.html
*build/
*.png
*.jpg
.coverage
.idea
*dist/
*bin/
# ignore deployement keys
gl-repo-key.pub
gl-repo-key
sandbox/
*pdf
*.pickle
ediscovery_cache/
obj/
API/example_client_api_Csharp/packages
*~
*.vs/
*.npy
*.npz
*exe
*exe.mdb
RestSharp*
release_notes.md
*log
*.hypothesis/
benchmark/tar-toolkit/out/
dist/
doc_pdf/
trec-cluster/
newsgroup_data/
.ipynb_checkpoints/
.cache/
*.coverage*
doc/modules/
doc/examples/
doc/generated/
treclegal09*.tar.gz
