include README.rst
include LICENCE
include requirements.txt
include requirements_engine.txt
recursive-include scripts *.py
recursive-include freediscovery *.py
prune freediscovery/tests/.hypothesis
recursive-include freediscovery *.txt
recursive-include examples *.py
recursive-include benchmarks *.py
recursive-include freediscovery *.pkl*
include freediscovery/data/ds_lsi_birch/data
