flask-restful
marshmallow==2.10.2
webargs==1.4.0
flask_apispec
# xgboost==0.4a30 # this version does not build on windows using pip,
# disabling it, version 0.6 currently broken for sparse arrays https://github.com/dmlc/xgboost/issues/1238#issuecomment-247787192 
nltk
scikit-learn==0.18.1  
# gensim # not used at present
# coverage # not used at present
