matplotlib==1.5.3
docutils==0.12
sphinx==1.5b1
recommonmark==0.4.0
sphinxcontrib-napoleon==0.5.3
sphinx_rtd_theme==0.1.10a0
sphinx-gallery==0.1.12
mock
sphinx-argparse
CommonMark==0.5.5
sphinxcontrib-autoprogram

